*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-size: 15pt;
    /* background-color: #121923; */
}
input{
  border: none;
  display: block;
  width: 80%;
  margin:auto;
  background: #DCDCDC;
  margin: 20px auto;
  padding: 10px 20px;
  outline: 0;
  border-radius: 4px;
  
  
}
::placeholder{
  color:#555;
  font-weight: bold;
  font-size: 15px;
}

textarea{
  width: 90%;
  margin: auto;
  display: block;
  margin: auto;
  height: 90vh;
}
.btn{
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  background-image: linear-gradient(to right,#C33764, #1D2671);
  color:#fff;
  font-weight: bold;
  
  
  
}

body{
  padding-top: 60px;
}
@font-face {
 font-family: comic;
 src: url(fonts/comic-neue.regular.ttf);
}
@font-face {
  font-family: kalporosh;
  src: url(../assets/fonts/kalpurush.ttf); 
}
 @font-face {
  font-family: hind;
  src: url(fonts/HindSiliguri-SemiBold.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../assets/fonts/roboto-bold1.ttf);
}

.kalporosh{
 font-family: kalporosh;
 color: green !important;
 font-size: 1.3rem !important; 
 /* margin-left: 30px !important; */
}
.hind{
font-family: hind;
font-family: 100;
color:#fff;
font-size: 12px !important;
line-height: 1;
font-family: roboto-bold;

}
.comic{
font-family: kalporosh !important;

}
 .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   
    margin-bottom: 10px;
    border-bottom:.0001rem solid lightblue;
    background-color: #fff;
    position: relative;
   padding: 10px 5%;
   
 
    
  }
 .box p{
   margin-right: 5px;
   font-weight: bold;
   font-size: 1.3rem;
  margin: 0;
  margin-right: 7px;
  color: #F85846;
  text-align: left;
  
 
 
 }
 
 .tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.tooltiptext {
visibility: hidden;
width: 150px;
background-color: black;
color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;
font-size: 12px;

/* Position the tooltip text - see examples below! */
position: absolute;
z-index: 1;
left: -5px;
top: -22px;
font-family: kalporosh;
}
.tooltip:hover .tooltiptext {
visibility: visible;
}
.loader {
border: 8px solid #f3f3f3; /* Light grey */
border-top: 8px solid crimson; /* Blue */
border-radius: 50%;
width: 50px;
height: 50px;
position: absolute;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
top: 30%;

animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.top{


    line-height: 1;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    z-index: 100;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 3px 5%;
    
    
  

}
img{
width: 50px;
}
 
